.App {
  text-align: center;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.container{
  margin-left:4%; 
  margin-right:4%;
  margin-top:1%;
  font-family: 'Quicksand';

}

.rest-content{
  margin-top:4%;

}

.title{
  text-align: center;
}

.map{
  margin-top: 5%;
}

Link {
  text-decoration: None;
}

.searchResults{
  margin-top : 5%;
}